/* @import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Cardo', serif; */

body {
  font-family: 'DM Sans', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6 col, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin: 24px;

}

/* NAVIGATION */
.navigation {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

/* LOGO/BOOKS */
p {
  font-size: 56px;
  text-align: center;
  grid-column: 3 / span 4;
}

.search-btn {
  font-size: 24px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  /* padding-right: 224px; */
  margin-top: -180px;
  text-align: left;
  grid-column: 1;
  /* grid-row: 2; */
  background: none;
  border:  none;
  /* border-radius: 24px; */
  cursor: pointer;
  width: 100%;
}

.search-container {
  text-align: right;
  /* width: 100%; */
}


.sign-in-btn {
  font-size: 24px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  grid-column: 7;
  text-align: right;
  /* float: left; */
  margin-top: -180px;
  /* padding-right: 800px; */
  background: none;
  border: none;
  cursor: pointer;
}

.cart-btn {
  font-size: 32px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  grid-column: 8;
  text-align: right;
  /* margin-top: -180px; */
  background: none;
  border: none;
  cursor: pointer;
}



/*---------- Best sellers books and Our favorite books (Horiztonal scroll bars) ----------*/
.scroll-flexbox {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 24px;
}


.book {
  background-color: blue;
  border: solid black .5px;
  /* margin: 2px; */
  width: 400px;
  height: 400px;
  text-align: center;
  margin-bottom: 24px;
}

img {
  width: 200px;
}

h5, h4 {
  margin: 5px;
}
/*----------------------------------------------------------------------------------------*/



/*-------- All books flexbox (book cards are the same as horizontal scrollbar's)----------*/
.all-books-flexbox {
  /* background-color: lightgray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/*----------------------------------------------------------------------------------------*/



/*------------------------------------- Search Bar ---------------------------------------*/
.search-bar-modal {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: white;
  position: absolute;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.searchbook {
  width: 200px;
  margin: 24px 24px;
}

.searchbook-img {
  width: 200px;
}

.search-bar-div {
  text-align: center;
  grid-column: 1 / span 6;
  grid-row: 1;
  margin: 108px;
}

.search-bar {
  font-size: 16px;
  font-weight: 400;
  width: 50%;
  border-radius: 24px;
  color: rgb(29, 66, 253);
  border: solid rgb(29, 66, 253) 1px;
  /* line-height: 16px; */
  padding: 8px;
  font-family: 'DM Sans', sans-serif;
}


.search-flexbox {
  /* background-color: none;
  border: none; */
  /* background-color: lightgray; */
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  margin: 32px;
  margin-bottom: 32px;
}

.search-bar-x-btn-div {
  text-align: right;
  margin-top: 40px;
  grid-column: 6;
  grid-row: 1;
}

.search-bar-x-btn {
  margin-right: 72px;
  background: none;
  border: none;
  color: rgb(29, 66, 253);
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* From https://css.glass */
  background-color: rgba(66, 66, 66, 0.74);
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  /* border: 1px solid rgba(0, 0, 0, 0.56); */
  position: fixed;
}
/*----------------------------------------------------------------------------------------*/



/*-------------------------------------- Add Form ----------------------------------------*/
/*Note: modal wrapper is same as Search Bar's*/
.add-book-modal {
  background-color: white;
  position: absolute;
  width: 350px;
  height: 600px;
  margin: 5% 40%;
  border-radius: 10px;
  text-align: center;
}

.add-book-x-btn-div {
  text-align: right;
}

.add-submit-btn-div {
  text-align: center;
}

.Add-form-div {
  text-align: right;
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}
/*----------------------------------------------------------------------------------------*/



/*----------------------------------- Shopping Cart --------------------------------------*/
.cart-modal {
  background-color: white;
  position: absolute;
  width: 400px;
  height: 100vh;
  right: 0;
  text-align: center;
}

.cart-modal-x-div {
  text-align: left;
}

.cart-modal-wrapper {
  width: 400px;
  right: 0;
  height: 100vh;
  /* From https://css.glass */

  position: fixed;
}

.cart-books-flexbox {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  width: 370px;
  margin: auto;
}

.cartBook {
  background-color: white;
  text-align: left;
  margin: 3px;
}
/*----------------------------------------------------------------------------------------*/



/*---------------------------------- Sign In Message --------------------------------------*/
.sign-in-modal {
  background-color: white;
  position: absolute;
  width: 600px;
  height: 600px;
  /* margin: 5% 30%; */
  text-align: center;
}

.sign-in-message {
  margin-top: 45px;
}

.sign-in-x-btn-div {
  margin-top: 24px;
  text-align: center;
}

.sign-in-modal-wrapper {
  width: 100vw;
  height: 100vh;
  /* From https://css.glass */
  background-color: rgba(66, 66, 66, 0.74);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(0, 0, 0, 0.56);
  position: fixed;
}
/*----------------------------------------------------------------------------------------*/



/*-------------------------- Sign In / Create Account Modal ------------------------------*/
.create-acc-si-modal {
  background-color: white;
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 8% 40%;
  align-items: center;
}

.modal-sign-in-header {
  margin: 24px;
  margin-top: -48px;
  margin-bottom: 48px;
}

.create-acc-si-div {
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.sign-in-form-container form {
  align-items: center;
  justify-content: center; 
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}
.create-acc-si-x-btn-div {
  text-align: right;
  background: none;
  border: none;
}

.create-acc-si-x-btn {
  background: none;
  color: rgb(29, 66, 253);
  border: none;
  font-size: 24px;
  margin: 24px;
  cursor: pointer;
}

.account-toggle-btn {
  text-align: center;
  margin-top: 16px;
}

.account-input {
  background-color: white;
  font-weight: 500;
}

input {
  border: black solid .5px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;  
}

input[type=submit] {
  width: 100%;
  background: none;
  /* background: rgb(29, 66, 253); */
  border: solid 1.5px rgb(29, 66, 253);
  /* border: none; */
  line-height: 32px;
  border-radius: 16px;
  color: rgb(29, 66, 253);
  margin-top: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  width: 100%;
  background: none;
  background: rgb(29, 66, 253);
  /* border: solid 1px rgb(29, 66, 253); */
  /* border: none; */
  line-height: 32px;
  border-radius: 16px;
  color: white;
  margin-top: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

.modal-sign-in-btn {
  border: none;
  background: none;
  line-height: 32px;
  border-radius: 16px;
  margin-top: 16px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

}

.modal-sign-out-btn {
  border: none;
  background: none;
  font-size: 16px;
  line-height: 32px;
  border-radius: 12px;
  /* margin-top: 16px; */
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  cursor: pointer;

}

/*----------------------------------------------------------------------------------------*/



/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: white;
  height: 500px;
}

.modal-header, .modal-footer {
  padding: 16px;

}

.modal-title {
  margin: 0;
  font-size: 24px;
}

.modal-body {
  padding: 8px;
  border-top: 1px solid #eee;
  margin: 0 24px;
}

.modal-button {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: none;
  float: right;
  cursor: pointer;
}

.add-button {
  background: black;
  border: none;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  cursor: pointer;
}

.input-add {
  background: none;
  border: .5px solid black;
  border-right: none;
  border-top: none;
  border-left: none;
  margin-bottom: px;
  width: 100%;
  border-radius: none;
}

/*---------------------------------- Star rating --------------------------------------*/

/* .rate {
  display: inline-block;
  border: 0; */



/*--------------------------------- Reviews Flexbox --------------------------------------*/
.all-reviews-flexbox {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: scroll
}



.review-card {
  background-color: white;
  margin: 3px 5px;
}
/*----------------------------------------------------------------------------------------*/

/* .rate > input {
  display: none;
} 

rate > label {
  float: right;
}  */

/* FULL STAR */
/* .rate > label:before {
  display: inline-block;
  font-size: 1rem;
  padding: .3rem .2rem;
  margin: 0;
  cursor: pointer;
  content: "\2605";
  color: grey;
} */

/* EMPTY STAR */
/* .rate .empty:before {
  display: inline-block;
  font-size: 1rem;
  padding: .3rem .2rem;
  margin: 0;
  cursor: pointer;
  content: "\2606";
} */

/* CLICK + HOVER COLOR */
/* input:checked ~ label,
lable:hover, label:hover ~ label {color: rgb(162, 255, 0);} */

/* HOVER HIGHLIGHTS */
/* input:checked + label:hover, input:checked ~
label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label
{color: blue;} */
