/*---------- Best sellers books and Our favorite books (Horiztonal scroll bars) ----------*/
.scroll-flexbox {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.book {
  background-color: white;
  margin: 15px;
  width: 300px;
}

img {
  width: 300px;
}

h5, h4 {
  margin: 5px;
}
/*----------------------------------------------------------------------------------------*/



/*-------- All books flexbox (book cards are the same as horizontal scrollbar's)----------*/
.all-books-flexbox {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/*----------------------------------------------------------------------------------------*/



/*------------------------------------- Search Bar ---------------------------------------*/
.search-bar-modal {
  background-color: white;
  position: absolute;
  width: 99vw;
  height: 650px;
}

.searchbook {
  width: 150px;
  margin: 25px 25px;
}

.searchbook-img {
  width: 150px;
}

.search-bar-div {
  text-align: center;
  margin: 30px;
}

.search-bar {
  font-size: 25px;
  width: 45%;
}

.search-flexbox {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 80%;
  margin: 20px auto;
  margin-bottom: 50px;
}

.search-bar-x-btn-div {
  text-align: right;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(0, 0, 0, 0.56);
  position: fixed;
}
/*----------------------------------------------------------------------------------------*/
